#wagtailkatex-modal {
  display: block;
  position: fixed;
  z-index: 100;
  left: inherit;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

#wagtailkatex-modal-content {
  width: 80%;
  border: 1px #AAA solid;
  border-radius: 5px;
  background: var(--w-color-surface-page, #EEE);
}

#wagtailkatex-modal-input {
  padding: 0.5em;
}

#wagtailkatex-modal-output {
  padding: 2em;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wagtailkatex-modal-action {
  display: flex;
  padding: 0.5em;
  justify-content: right;
  align-items: right;
}
